DISCORD_TOKEN=your_new_bot_token
GUILD_ID=your_server_id
SUPPORT_CATEGORY_ID=your_support_category_id
STAFF_ROLE_ID=your_staff_role_id
MOD_LOG_CHANNEL_ID=your_mod_log_channel_id
WELCOME_CHANNEL_ID=0
AUTO_MOD_ENABLED=true
